/* importing font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap");

/* styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.746);
  text-decoration: none;
  text-emphasis: none;
}
body {
  height: 100vh;
  background-color: #e5e5f7;
  background: radial-gradient(
    circle at 50% 50%,
    #ff0037,
    rgba(255, 144, 168, 1)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  max-width: 1000px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section .name {
  text-align: center;
}
section .name h1 {
  z-index: 3;
}
section .project-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
